@import url(./global.css);

body {
  background-image: url("../images/global/Circuit-background.svg");
  font-family: var(--font);
}

/* header */
header {
  display: flex;
  background-color: var(--color-neutral-black);
  justify-content: space-around;
}

header img {
  width: 10%;
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
}

.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.header-items a {
  text-decoration: none;
  color: var(--color-neutral-white);
}

.button-container a {
  text-decoration: none;
  color: var(--color-primary-blue);
}
/* fim do header */

/* main */

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.enredeco-box {
  width: 650px;
  height: 330px;
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  border: 1px solid #2c333a;
  border-radius: 35px;
  background-color: var(--color-background);
  box-shadow: 0 0 18px var(--color-primary-blue);
}

.user {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user h1 {
  line-height: 28px;
  font-size: var(--headline2-medium);
  color: var(--color-neutral-white);
}

.user img {
  width: 59px;
  height: 59px;
}

.loc-info {
  height: 89px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.loc-info h2 {
  line-height: 28px;
  font-size: var(--headline2-normal);
  font-weight: normal;
  color: var(--color-neutral-white);
}

/* fim do main */

.section {
  margin-top: 50px;
  display: flex;
  padding: 30px;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2c333a;
  border-radius: 35px;
  background-color: var(--color-background);
  box-shadow: 0 0 18px var(--color-primary-blue);
}

h2 {
  font-size: var(--headline2-medium);
  color: var(--color-neutral-white);
}

/* metodo-envio */
.metodo-envio {
  width: 650px;
  height: 360px;
}

.metodo-envio .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.taxa-info {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.taxa-info .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
}

.taxa-info img {
  width: 69px;
  height: 69px;
}

.taxa-info .title p {
  font-size: var(--headline2-medium);
  font-weight: normal;
  color: var(--color-neutral-white);
}

.taxa-info .info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.taxa-info .valor {
  font-size: var(--headline2-medium);
  font-weight: bold;
  color: var(--color-neutral-white);
}

.taxa-info .entrega {
  font-size: var(--paragraph-normal);
  color: var(--color-neutral-white);
}

/* metodo-pagamento */
.metodo-pagamento {
  width: 650px;
  height: 450px;
}

.metodo-pagamento .content {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.pix-icon,
.credit-icon,
.debit-icon {
  width: 45px;
  height: 45px;
  margin-left: 10px;
}

.content label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
  font-size: var(--headline2-medium);
  font-weight: normal;
  color: var(--color-neutral-white);
  cursor: pointer;
}

.content input[type="radio"] {
  display: none;
}

.content label::before {
  content: "";
  width: 57px;
  height: 55px;
  border: 4px solid #2c333a;
  background-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
}

.content input[type="radio"]:checked + label::before {
  background-color: #2c333a;
}

/* fim da section metodo-envio */

/* valor-total */
.valor-total {
  width: 650px;
  height: 520px;
}

.valor-total .content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.valor-total-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 200px;
}

.valor-total-item p {
  font-size: var(--headline2-medium);
  font-weight: normal;
  color: var(--color-neutral-white);
}

.total-geral {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  font-size: var(--headline2-medium);
  font-weight: normal;
  color: var(--color-neutral-white);
  border-top: 1px solid var(--color-neutral-white);
}

.valor-total button {
  width: 232px;
  height: 69px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 103, 113);
  font-size: var(--headline2-medium);
  font-weight: bold;
  color: var(--color-neutral-white);
  border-radius: 18px;
}

#btn-continuar:hover{
  scale: 1.05;
}

/* FOOTER */

.footer-links-container {
  color: var(--color-neutral-white);
  background-color: var(--color-neutral-black);
  display: flex;
  height: 490px;
  padding: 0px 22px;
  justify-content: space-between;
  margin-top: 140px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo-container img {
  width: 25%;
}

.logo-container p:nth-of-type(2) {
  width: 535px;
}

.footer-button-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-button-box input {
  width: 342px;
  height: 43px;
  border-radius: 20px;
  padding-left: 20px;
}

.footer-button-box button {
  width: 89px;
  height: 43px;
  border-radius: 20px;
}

.footer-links-list {
  display: flex;
  gap: 100px;
  margin-top: 50px;
  font-size: var(--footer-links2);
}

.footer-links-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 50px;
}

.footer-links-list li:nth-of-type(1) {
  font-size: var(--footer-links1);
}
.footer-links-list a {
  text-decoration: none;
  color: var(--color-neutral-white);
}

.footer-footer {
  display: flex;
  color: var(--color-neutral-white);
  background-color: var(--color-neutral-black);
  justify-content: space-between;
  padding: 5px 22px;
  font-size: var(--footer-links2);
}

.tos-box {
  display: flex;
  gap: 23px;
}

.tos-box a {
  text-decoration: none;
  color: var(--color-neutral-white);
}

/* FIM DO FOOTER */

/*Modal*/
.form-cartao {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 750px;
  top: 50%;
  left: 50%;
  gap: 30px;
  transform: translate(-50%, -50%);
  z-index: 1001; 
  background-color: var(--color-neutral-white);
  padding: 35px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  width: 90%;
  max-width: 450px;
}

.form-cartao h3{
  font-size: var(--headline2-normal);
}

.hidden {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.btn-fechar {
  padding: 0.5rem 1rem;
  background: var(--color-button-blue);
  color:var(--color-neutral-white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.btn-fechar:hover{
  scale: 1.05;
}

/*Fim Modal*/

/*Form modal*/
.input-cartao{
  display: flex;
  flex-direction: column; 
  align-self: flex-start; 
}

.input-container input{
  font-size: 24px;
}

.nome-cartao{
  display: flex;
  flex-direction: column;
  align-self: flex-start;  
  gap: 10px;
}

.nome-cartao input{
  height: 30px;
  font-size: 24px;
}

.input-validade{
  display: flex;
  flex-direction: column;
  align-self: flex-start; 
  gap: 10px;
}

.input-validade input{
  height: 30px;
  font-size: 24px;
}

.input-seguranca{
  display: flex;
  flex-direction: column;
  align-self: flex-start; 
  gap: 10px;
}

.input-seguranca input{
  height: 30px;
  font-size: 24px;
}

#botao-pagamento{
  width: 200px;
  height: 50px;
  border-radius: 6px;
  background-color: var(--color-button-blue);
  color: var(--color-neutral-white);
  font-size: var(--paragraph-medium);
}

.btn-home{
  width: 200px;
  height: 50px;
  border-radius: 6px;
  background-color: var(--color-button-blue);
  color: var(--color-neutral-white);
  font-size: var(--paragraph-medium);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-home:hover{
  scale: 1.05;
}

#botao-pagamento:hover{
  scale: 1.05;
}

.pix-img{
  background-color: var(--color-background);
  width: 210px;
  height: 210px;
  display: flex;
  justify-content: center;
}

.preco-box-pix{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.preco-box-pix p{
  width: 320px;
}


/*------------------*/
.mensagem-sucesso{
  display: none;
  color: var(--color-primary-blue);
  font-weight: bold;
  margin-top: 10px;
}