@import url(./global.css);
body{
    position: relative;
    background-color: var(--color-background);
}

.background{
    position: absolute;
    z-index: -1;
    top: 11.5%;
    left: 0%;
    width: 100%;
    height: 84%;    
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        background-image: url('../images/global/Circuit2-off.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    50% {
        opacity: 0.5;
        background-image: url('../images/global/Circuit2-on.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    100% {
        opacity: 1;
        background-image: url('../images/global/Circuit2-off.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/* Header */
header{
    display: flex;
    background-color: var(--color-neutral-black);
    justify-content: space-around;
}

header img{
    width: 10%;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.header-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header-items a{
    text-decoration:  none;
    color: var(--color-neutral-white);
}

.button-container a{
    text-decoration: none;
    color: var(--color-primary-blue);
}
/* Header */

/* Main */
.main-container{
    display: flex;  
    position: relative;  
}

.main-container img{
    display: block;
    width: 100vw;
    height: 669px;    
}

.main-container .main-tint{
    display: flex;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 669px;
}

.main-text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main-container .main-text-box{
    position: absolute;    
    top: 18%;
    left: 26%;
    color: var(--color-neutral-white);
    align-items: center;
    z-index: 1;
    padding: 0 ;
}

.main-text-box h1{
    font-size: var(--headline1-big);
    font-weight: var(--headline1-weight);
    text-align: center;
    width: 980px;
}

.main-text-box p{
    font-size: var(--header-links);
}
/* Main */


/*Passos Aluguel*/
.passos-aluguel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passos-container{
    display: flex;
    margin-top: 50px;
    gap: 300px;
    height: 900px;
}

.chip-logo{
    position: relative;
    display: flex;
    margin-top: 45px;
}

.chip-logo img{
    position: relative;

}

.chip-logo p{
    position: absolute;
    top: 35px;
    left: 100px;
    font-size: var(--headline1-medium);
    font-weight: var(--headline1-weight);
    color: var(--color-dark-blue);
}

.chip-left{
  position: relative;
  height: 781px;
  margin-left: 70px;
}

.chip-left > img:first-child{
  position: relative;
  z-index: 1;
}

.left-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;    
  left: 60px;   
  z-index: 2;   
  color: #ffffff;  
}

.left-text h1{    
    font-size: var(--headline2-normal);
    width: 404px;
    margin-bottom: 20px;
}

.left-text h2{    
    font-size: var(--paragraph-normal);
}

.left-text p{
    margin-bottom: 50px;
    width: 404px;
    font-size: var(--paragraph-normal);
}

.left-text button{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    cursor: pointer;
    width: 170px;
    height: 40px;
    padding: 10px;
    background-color: var(--color-neutral-gray);
    border-radius: 20px;
    transition: transform 0.2s ease;
}

.left-text button:hover{
    transform: scale(1.10);
}

.left-text a{    
    text-decoration: none;
    color: var(--color-neutral-white);
    font-size: var(--paragraph-normal);
}

.chip-right{
    margin-top: 339px;
    position: relative;
}

.right-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    text-align: center;
    gap: 40px;
    top: 110px;
    left: 70px;
}

.right-text h2{    
    font-size: var(--headline2-medium);
    width: 410px;
    color: var(--color-neutral-white);
}

.right-text button{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 270px;
    height: 56px;
    padding: 10px;
    background-color: var(--color-neutral-gray);
    border-radius: 20px;
    transition: transform 0.2s ease;
}

.right-text button:hover{
    transform: scale(1.10);
}

.right-text a{
    align-self: center;
    text-decoration: none;    
    color: var(--color-neutral-white);    
    font-size: var(--headline2-medium);
    font-weight: var(--headline1-weight);
    
}

/* --------------------------------------- */
.gif-estatica-passos {
    position: relative;
    width: 461px;
    height: 349px;
    z-index: 1001;
    pointer-events: none;
}

.gif-estatica-passos img {
    position: absolute;
    top: -112%;
    left: 9.5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: flickerer 1s steps(1) infinite;
}


.gif-estatica-passos img:nth-child(1) { animation-delay: 0s; }
.gif-estatica-passos img:nth-child(2) { animation-delay: 0.2s; }
.gif-estatica-passos img:nth-child(3) { animation-delay: 0.4s; }
.gif-estatica-passos img:nth-child(4) { animation-delay: 0.6s; }
.gif-estatica-passos img:nth-child(5) { animation-delay: 0.8s; }

.gif{
    position: relative;
    width: 400px;    
    height: 300px;
    z-index: 1000;
    pointer-events: none;
}

.gif .frame{
    position: absolute;
    top: -248%; left: 10%;
    width: 461px;
    height: 349px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif .f2{
    animation-delay: 0.1s;  
}

@keyframes flicker {
    0%, 49%   { opacity: 1; }
    50%, 100% { opacity: 0; }
}

.gif-big{
    position: relative;
    width: 400px;    
    height: 300px;
    z-index: 1000;
    pointer-events: none;
}

.gif-big .frame{
    position: absolute;
    top: -238%; left: 12.5%;
    width: 441px;
    height: 637px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-big .f2{
    animation-delay: 0.1s;  
}
/* --------------------------------------- */
/*Passos Aluguel*/

/*Destaque*/
.destaque-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    
}

.chip-container{
    position: relative;
}

.destaque-container > img:first-child{
    position: relative;
    z-index: 1;
}

.destaque-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    position: absolute;
    top: 14%;
    left: 12%;
}

.destaque-card-container h2{
    color: var(--color-neutral-white);
    margin-bottom: 10px;
    font-size: var(--headline2-medium);
}

.card-text-container{
    display: flex;
    gap: 40px;
}

.destaque-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 14px 11px;
    background-color: var(--color-neutral-gray);
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.destaque-card:hover {
    transform: scale(1.10);
}

.destaque-card p{
    color: var(--color-neutral-white);    
}

/* --------------------------------------- */

.gif-destaque{
    position: absolute;
    z-index: 1000;
    top: 10.5%;
    left: 5.3%;
    pointer-events: none;
}

.gif-destaque .frame{
    position: absolute;    
    width: 1182px;
    height: 377px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-destaque .f2{
    animation-delay: 0.1s;  
}
/* --------------------------------------- */

/*Destaque*/

/*Incluso*/
.incluso-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    
}

.incluso-chip{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.incluso-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    position: absolute;
    top: 18%;
}

.incluso-card-container h2{
    font-size: var(--headline2-big);
    color: var(--color-neutral-white);
}

.incluso-card-text{
    display: flex;
    gap: 26px;
}

.incluso-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 61px;
    width: 220px;
    height: 194px;
    border: 5px solid var(--color-neutral-white);
    border-radius: 16px;
    gap: 30px;
}

.incluso-card img{
    width: 90%;
}

.incluso-card p{
    color: var(--color-neutral-white);
    font-size: var(--headline2-normal);

}

/* --------------------------------------- */
.gif-incluso{
    position: absolute;
    width: 1138px;    
    height: 482px;
    z-index: 1000;
    /* pointer-events: none; */
}

.gif-incluso .frame{
    position: absolute;
    top: 13.5%; left: 0%;
    width: 1138px;    
    height: 482px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-incluso .f2{
    animation-delay: 0.1s;  
}
/* --------------------------------------- */
/*Incluso*/

/*Parceiros*/
.parceiros-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

.parceiros-chip{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.parceiros-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 2%;
}

.parceiros-icon-container h2{
    color: var(--color-neutral-white);
    font-size: var(--headline2-big);
}

.parceiros-icon-top{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr);     */
    filter: invert(100%);
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.parceiros-icon-top img:nth-of-type(1){
    width: 20%;  
    height: 10%; 
}

.parceiros-icon-bottom{
    display: flex;
    filter: invert(100%);
    align-items: center;
    justify-content: center;
    gap: 190px;
}

/* --------------------------------------- */
.gif-parceiros{
    position: absolute;
    width: 1198px;    
    height: 366px;
    z-index: 1000;
}

.gif-parceiros .frame{
    position: absolute;
    top: 17.5%; left: 0.3%;
    width: 1198px;    
    height: 366px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-parceiros .f2{
    animation-delay: 0.1s;  
}
/* --------------------------------------- */
/*Parceiros*/

/*Final*/
.final-container{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.final-chip{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.final-text-container{
    display: flex;
    flex-direction: column;
    color: var(--color-neutral-white);
    width: 1000px;
    position: absolute;
    font-size: var(--headline2-normal);
    top: 12%;
    text-align: center;
    gap: 50px;
}


/* --------------------------------------- */
.gif-final{
    position: absolute;
    width: 1148px;    
    height: 482px;
    z-index: 1000;
}

.gif-final .frame{
    position: absolute;
    top: 13.8%; left: -0.2%;
    width: 1148px;    
    height: 482px;
    object-fit: cover;
    animation: flicker 0.2s steps(1) infinite;
}

.gif-final .f2{
    animation-delay: 0.1s;  
}


.gif-estatica {
    position: relative;
    width: 1148px;    
    height: 482px;
    z-index: 1001;
    pointer-events: none;
}

.gif-estatica img {
    position: absolute;
    top: -112%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: flickerer 1s steps(1) infinite;
}


.gif-estatica img:nth-child(1) { animation-delay: 0s; }
.gif-estatica img:nth-child(2) { animation-delay: 0.2s; }
.gif-estatica img:nth-child(3) { animation-delay: 0.4s; }
.gif-estatica img:nth-child(4) { animation-delay: 0.6s; }
.gif-estatica img:nth-child(5) { animation-delay: 0.8s; }


@keyframes flickerer {
    0% { opacity: 1; }
    20%, 100% { opacity: 0; }
}

/* --------------------------------------- */
/*Final*/

/*Footer*/
.footer-links-container{
    color: var(--color-neutral-white);
    background-color: var(--color-neutral-black); 
    display:  flex;
    height: 490px;
    padding: 0px 22px;
    justify-content: space-between;
    margin-top: 140px;
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo-container img{
    width: 25%;
}

.logo-container p:nth-of-type(2){
    width: 535px;
}

.footer-button-box{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-button-box input{
    width: 342px;
    height: 43px;
    border-radius: 20px;
    padding-left: 20px;
}

.footer-button-box button{
    width: 89px;
    height: 43px;
    border-radius: 20px;
}

.footer-links-list{
    display: flex;
    gap: 100px;  
    margin-top: 50px;  
    font-size: var(--footer-links2);
}

.footer-links-list ul{
    display:  flex;
    flex-direction: column;
    list-style: none;
    gap: 50px;
}

.footer-links-list li:nth-of-type(1){
    font-size: var(--footer-links1);
}
.footer-links-list a{
    text-decoration: none;
    color: var(--color-neutral-white);
}

.footer-footer{
    display: flex;
    color: var(--color-neutral-white);
    background-color: var(--color-neutral-black); 
    justify-content: space-between;
    padding: 5px 22px;
    font-size: var(--footer-links2);
}

.tos-box{
    display: flex;
    gap: 23px;    
}

.tos-box a{
    text-decoration: none;
    color: var(--color-neutral-white);
}


/*Footer*/