@import url(./global.css);

a{
    text-decoration: none;
    color: var(--color-neutral-white);
}

body{
    position: relative;
    overflow-x: hidden;
    background-color: var(--color-neutral-black);
    color: var(--color-neutral-white);
}

.background{
    position: absolute;
    background-image: url(../images/global/Circuit-background.svg);
    background-repeat: repeat; /* Faz a imagem se repetir */
    background-size: auto;
    z-index: -1;
    width: 100%;
    height: 80%;
}

footer{
    background-color: var(--color-neutral-black);
    color: var(--color-neutral-white);
}

header{
    display: flex;
    background-color: var(--color-neutral-black);
    justify-content: space-around;
}

header img{
    width: 10%;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}

.header-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header-items a{
    text-decoration:  none;
    color: var(--color-neutral-white);
}

.button-container a{
    text-decoration: none;
    color: var(--color-primary-blue);
}

.header-items li{
    list-style: none;    
}

.header-items li:nth-of-type(2){
    width: 100px;
}

nav{    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* font-size: var( --headline1-big) */

.contato{
    color: var(--color-primary-blue);
    display: flex;
    align-items: center;
    gap: 3px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 45px;
    gap: 60px;
}

main .title{
    font-size: var(--headline1-big);
    font-weight: bold;
    width: 1280px;
}

form{
    display: flex;
    flex-direction: column;
    width: 1080px;
    gap: 48px;
}

.row1, .row2, .row3{
    display: flex;
    width: 100%;
    gap: 32px;
}

.row1 input, .row2 input, .row3 input{
    width: 100%;
    height: 78px;
    background-color: var(--color-background-transparency);
    font-size: var(--header-links);
    color: var(--color-neutral-white);
    padding-left: 10px;
    border-bottom: 1px solid var(--color-neutral-white);
    box-shadow: 0px 0px 15px var(--color-dark-blue);
}

.subject{
    width: 338px;
}

form > input, form > textarea{
    width: 100%;
    height: 78px;
    background-color: var(--color-background-transparency);
    font-size: var(--header-links);
    color: var(--color-neutral-white);
    padding-left: 10px;
    border-bottom: 1px solid var(--color-neutral-white);
    box-shadow: 0px 0px 15px var(--color-dark-blue);
}

form > textarea{
    height: 146px;
}

.button-container{
    display: flex;
    width: 100%;
    height: 91px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 1s ease;
}

.button{
    width: 264px;
    height: 91px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-button-blue);
    color: var(--color-neutral-white);
    font-size: var(--header-links);
    border-radius: 37px;  
    cursor: pointer;  
}

.button:hover{
    scale: 1.15;
}

.footer-links-container{
    color: var(--color-neutral-white);
    background-color: var(--color-neutral-black); 
    display:  flex;
    height: 490px;
    padding: 0px 22px;
    justify-content: space-between;
    margin-top: 140px;
}

.logo-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logo-container img{
    width: 25%;
}

.logo-container p:nth-of-type(2){
    width: 535px;
}

.footer-button-box{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-button-box input{
    width: 342px;
    height: 43px;
    border-radius: 20px;
    padding-left: 20px;
}

.footer-button-box button{
    width: 89px;
    height: 43px;
    border-radius: 20px;
}

.footer-links-list{
    display: flex;
    gap: 100px;  
    margin-top: 50px;  
    font-size: var(--footer-links2);
}

.footer-links-list ul{
    display:  flex;
    flex-direction: column;
    list-style: none;
    gap: 50px;
}

.footer-links-list li:nth-of-type(1){
    font-size: var(--footer-links1);
}
.footer-links-list a{
    text-decoration: none;
    color: var(--color-neutral-white);
}

.footer-footer{
    display: flex;
    color: var(--color-neutral-white);
    background-color: var(--color-neutral-black); 
    justify-content: space-between;
    padding: 5px 22px;
    font-size: var(--footer-links2);
}

.tos-box{
    display: flex;
    gap: 23px;    
}

.tos-box a{
    text-decoration: none;
    color: var(--color-neutral-white);
}